#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MEDIA
	tristate "Enable media"
	default n

if MEDIA

config MEDIA_FEATURE
	bool "enable quickapp media feature"
	depends on LIBUV
	default n

choice
	prompt "MEDIA log level"
	default MEDIA_LOG_INFO

config MEDIA_LOG_DEBUG
	bool "MEDIA_LOG_DEBUG"

config MEDIA_LOG_INFO
	bool "MEDIA_LOG_INFO"

config MEDIA_LOG_WARN
	bool "MEDIA_LOG_WARN"

config MEDIA_LOG_ERR
	bool "MEDIA_LOG_ERR"

config MEDIA_LOG_SLIENT
	bool "MEDIA_LOG_SLIENT"

endchoice

config MEDIA_SERVER
	bool "Enable media server"
	default n
	depends on EVENT_FD

if MEDIA_SERVER

config MEDIA_SERVER_CONFIG_PATH
	string "Media server configure file path"
	default "/etc/media/"

config MEDIA_SERVER_PROGNAME
	string "Media server name"
	default "mediad"

config MEDIA_SERVER_STACKSIZE
	int "Media server stack size"
	default 81920

config MEDIA_SERVER_PRIORITY
	int "Media server priority"
	default 245

config MEDIA_FOCUS
	bool "Enable media focus"
	default n

config MEDIA_TRACE
	bool "Enable media trace"
	default n

config MEDIA_SERVER_MAXCONN
	int "Max socket connections"
	default 16

config MEDIA_SERVER_MAX_POLLFDS
	int "Max poll fd counts"
	default 64

config MEDIA_SERVER_PORT
	int "Media server AF_INET listening port"
	default -1

if MEDIA_FOCUS

config MEDIA_FOCUS_STACK_DEPTH
	int "Media focus configurable stack size"
	default 8

endif # MEDIA_FOCUS

endif # MEDIA_SERVER

config MEDIA_SERVER_CPUNAME
	string "Media server CPU name, for distributed server, use list like 'ap,audio'"
	default "local"

config MEDIA_TOOL
	bool "Media tool"
	default n

if MEDIA_TOOL

config MEDIA_TOOL_STACKSIZE
	int "Media tool stack size"
	default 16384

config MEDIA_TOOL_PRIORITY
	int "Media tool priority"
	default 100

endif # MEDIA_TOOL

config MEDIA_PROXY_LISTEN_STACKSIZE
	int "Media proxy listen thread stack size"
	default 4096

config MEDIA_PROXY_LISTEN_PRIORITY
	int "Media proxy listen thread priority"
	default 100

endif # MEDIA

osource "$APPSDIR/frameworks/multimedia/media/pfw/Kconfig"
