#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MEDIA
	tristate "Enable media"
	default n

if MEDIA

config MEDIA_SERVER
	bool "Enable media server"
	default n
	select EVENT_FD

config MEDIA_FOCUS
	bool "Enable media focus"
	default n
	select APP_FOCUS

if MEDIA_FOCUS

config MEDIA_FOCUS_STACK_DEPTH
	int "Media focus configurable stack size"
	default 8

config MEDIA_FOCUS_CONFIG_PATH
	string "Media focus configure file path"
	default "/etc/media/"

endif # MEDIA_FOCUS

if MEDIA_SERVER

config MEDIA_SERVER_CONFIG_PATH
	string "Media server configure file path"
	default "/etc/media/"

config MEDIA_SERVER_PROGNAME
	string "Media server name"
	default "mediad"

config MEDIA_SERVER_STACKSIZE
	int "Media server stack size"
	default 81920

config MEDIA_SERVER_PRIORITY
	int "Media server priority"
	default 245

config MEDIA_FOCUS
	bool "Enable media focus"
	default n

if MEDIA_FOCUS

config MEDIA_FOCUS_STACK_DEPTH
	int "Media focus configurable stack size"
	default 8

endif # MEDIA_FOCUS

endif # MEDIA_SERVER

config MEDIA_SERVER_CPUNAME
	string "Media server CPU name, for distributed server, use list like 'ap,audio'"
	default "local"

config MEDIA_TOOL
	bool "Media tool"
	default n

if MEDIA_TOOL

config MEDIA_TOOL_STACKSIZE
	int "Media tool stack size"
	default 16384

config MEDIA_TOOL_PRIORITY
	int "Media tool priority"
	default 100

endif # MEDIA_TOOL

config MEDIA_CLIENT_LISTEN_STACKSIZE
	int "Media client listen thread stack size"
	default 4096

endif # MEDIA
